
/* Import IBM Plex Mono Bold from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&display=swap');

/* Base styles */
body {
    font-family: 'IBM Plex Mono', monospace;
    margin: 0;
    padding: 0;
}

/* Container styling */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Styling for the greeting text */
.greeting {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: 900; /* Extra bold weight */
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7); /* Add shadow for depth */
}

/* Styling for the clock */
.clock {
    font-size: 4rem;
    font-weight: 900; /* Extra bold weight */
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7); /* Add shadow for depth */
}

/* Light mode */
.light-mode {
    background: url('kusuriya-no-hitori-goto-1.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333; /* Darker text for light background */
}

.light-mode .greeting {
    color: #333; /* Darker text for light background */
}

.light-mode .clock {
    color: #333; /* Darker text for light background */
}

/* Dark mode */
.dark-mode {
    background: url('kusuriya-no-hitori-goto-5.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #f1f1f1; /* Light text for dark background */
}

.dark-mode .greeting {
    color: #ffcccc; /* Light color for contrast */
}

.dark-mode .clock {
    color: #f1f1f1; /* Light color for dark background */
}
